/*========= GENERAL ========*/
body, .container, p {
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

ul {
	padding-left: 0;
	margin: 0;
}

li {
	list-style-type: none;
	display: inline-block;
}

a {
	text-decoration: none;
}

aside, article {
	display: inline-block;
	vertical-align: top;
}

aside, footer {
	color: white;
}

/*========= END-GENERAL ========*/

/*========= HEADER ========*/
header {
	width: 100%;
	height: 47px;
	margin: auto;
	position: fixed;
	background-color: white;
	z-index: 2;
}

header nav {
	padding-top: 15px;
	width: 85%;
	margin: auto;
	position: relative;
}

header a, .fa-caret-down {
	color: #66757f;
	font-size: .8em;
}

.fa-caret-down {
	margin-left: 5px;
}

header li:not(:last-child) {
	margin-right: 30px;
}

.fa-twitter {
	color: #55acee;
	font-size: 1.5em;
}

.languages {
	position: absolute;
	right: 0;
}

.dropdown {
	display: none;
}
/*========= END-HEADER ========*/

/*========= SECTION ========*/

.middle {
	width: 100%;
	position: absolute;
	top: 47px;
}

h1 {
	font-size: 2.2em;
	margin: 0 0 35px 0;
}

aside p {
	font-size: 1.2em;
	line-height: 1.6;
}

.content {
	position: absolute;
	animation: slider 5s ease infinite;
}

.bg-img {
	width: 100%; 
	overflow: hidden;
}

.content li {
	width: 100%;
	display: inline;
}

img {
	width: 100%;
	height: 100%;
}

section {
	width: 835px;
	margin: 0 auto 191px;
	padding-top: 70px;
	text-align-last: justify; 
}

aside {
	width: 50%;
}

form {
	background-color: white;
	border-radius: 5px;
	padding: 10px;
}

.connexion {
	margin-bottom: 10px;
	font-size: .75em;

}

.connexion p:first-child input {
	width: 100%;
	border: 1px solid #ccd6dd;
	padding-left: 5px;
}

.connexion p:nth-child(2) input {
	border: 1px solid #ccd6dd;
	padding-left: 5px;
}

.forget {
	color: #008fcd;
}

.connexion p:nth-child(2), .connexion p:nth-child(3) {
	display: inline-block;
}

.connect {
	background-color: #55acee;
	color: white;
	font-weight: bold;
	border: 1px solid #3b88c3;
	font-size: 1.25em;
	padding: 6px 15px;
	margin-left: 5px;
}

input {
	height: 30px;
	border-radius: 5px;
	margin-bottom: 5px;
	box-sizing:border-box;
}

.subscription {
	height: 165px;
}

.subscription p:first-child {
	border-bottom: 1px solid #e1e8ed;
	margin-bottom: 10px;
}

.subscription span {
	color: #66757f;
}

.subscription p:not(:last-child) input {
	width: 100%;
	border: 1px solid #ccd6dd;
	padding-left: 5px;
}

.subscribe {
	float: right;
	color: #292f33;
	background-color: #fcc545;
	border: 1px solid #ec8b11;
	font-weight: bold;
	text-shadow: 0 1px 2px white;
}

.check {
	vertical-align: middle;
}
/*========= END-SECTION ========*/

/*========= FOOTER ========*/

/*========= END-FOOTER ========*/
footer {
	width: 80%;
	margin: 0 auto 33px;
	font-size: .7em;
}

footer ul {
	text-align-last: justify; 
}

footer a {
	color: white;
}
/*========= PSEUDO-CLASSES ========*/
header a:hover {
	color: #55acee;
}

.languages:hover {
	text-decoration: underline;
}

.languages:active .dropdown {
	display: block;
	position: absolute;
	left: 0;
}

.connexion p:first-child input:focus, .connexion p:nth-child(2) input:focus, .subscription p:not(:last-child) input:focus {
	box-shadow: 2px 2px 5px #55acee;
}

.forget:hover {
	text-decoration: underline;
}

.connect:hover {
	background-image: linear-gradient(#53a8e9, #4d9bd7);
}

.subscribe:hover {
	background-image: linear-gradient(#fdc748, #f0a322);
}

@keyframes slider {
	0% {
		left: 0;
	}

	15% {
		left:100%;
	}
	30% {
		left: 200%;
	}
	45% {
		left: 300%;
	}
	60% {
		left: 400%
	}
	75% {
		left: 500%;
	}
	100% {
		left: 600%;
	}

}
/*========= END-PSEUDO-CLASSES ========*/